<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ehsy.svccfg.dao.SvcRelationMapper" >
  <resultMap id="BaseResultMap" type="com.ehsy.svccfg.svc.model.SvcRelation" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SVC_CODE_MASTER" property="svcCodeMaster" jdbcType="VARCHAR" />
    <result column="SVC_CODE_BRANCH" property="svcCodeBranch" jdbcType="VARCHAR" />
    <result column="DEGRADE" property="degrade" jdbcType="CHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SVC_CODE_MASTER, SVC_CODE_BRANCH, DEGRADE, TYPE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ehsy.svccfg.svc.model.SvcRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from svc_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from svc_relation
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from svc_relation
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ehsy.svccfg.svc.model.SvcRelationExample" >
    delete from svc_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ehsy.svccfg.svc.model.SvcRelation" >
    insert into svc_relation (ID, SVC_CODE_MASTER, SVC_CODE_BRANCH, 
      DEGRADE, TYPE, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{svcCodeMaster,jdbcType=VARCHAR}, #{svcCodeBranch,jdbcType=VARCHAR}, 
      #{degrade,jdbcType=CHAR}, #{type,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ehsy.svccfg.svc.model.SvcRelation" >
    insert into svc_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="svcCodeMaster != null" >
        SVC_CODE_MASTER,
      </if>
      <if test="svcCodeBranch != null" >
        SVC_CODE_BRANCH,
      </if>
      <if test="degrade != null" >
        DEGRADE,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="svcCodeMaster != null" >
        #{svcCodeMaster,jdbcType=VARCHAR},
      </if>
      <if test="svcCodeBranch != null" >
        #{svcCodeBranch,jdbcType=VARCHAR},
      </if>
      <if test="degrade != null" >
        #{degrade,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ehsy.svccfg.svc.model.SvcRelationExample" resultType="java.lang.Integer" >
    select count(*) from svc_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update svc_relation
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.svcCodeMaster != null" >
        SVC_CODE_MASTER = #{record.svcCodeMaster,jdbcType=VARCHAR},
      </if>
      <if test="record.svcCodeBranch != null" >
        SVC_CODE_BRANCH = #{record.svcCodeBranch,jdbcType=VARCHAR},
      </if>
      <if test="record.degrade != null" >
        DEGRADE = #{record.degrade,jdbcType=CHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update svc_relation
    set ID = #{record.id,jdbcType=VARCHAR},
      SVC_CODE_MASTER = #{record.svcCodeMaster,jdbcType=VARCHAR},
      SVC_CODE_BRANCH = #{record.svcCodeBranch,jdbcType=VARCHAR},
      DEGRADE = #{record.degrade,jdbcType=CHAR},
      TYPE = #{record.type,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ehsy.svccfg.svc.model.SvcRelation" >
    update svc_relation
    <set >
      <if test="svcCodeMaster != null" >
        SVC_CODE_MASTER = #{svcCodeMaster,jdbcType=VARCHAR},
      </if>
      <if test="svcCodeBranch != null" >
        SVC_CODE_BRANCH = #{svcCodeBranch,jdbcType=VARCHAR},
      </if>
      <if test="degrade != null" >
        DEGRADE = #{degrade,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ehsy.svccfg.svc.model.SvcRelation" >
    update svc_relation
    set SVC_CODE_MASTER = #{svcCodeMaster,jdbcType=VARCHAR},
      SVC_CODE_BRANCH = #{svcCodeBranch,jdbcType=VARCHAR},
      DEGRADE = #{degrade,jdbcType=CHAR},
      TYPE = #{type,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>